{% include 'header.html' %}
    <!-- ##### Welcome Area Start ##### -->
    <section class="welcome_area bg-img background-overlay" style="background-image: url({{ url_for('static', filename='img/bg-img/bg-1.jpg') }});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="hero-content">
                        <h6>bez metki</h6>
                        <h2>Nowości z second handów<br/>
                        w jednym miejscu</h2>
                        <a href="{{ url_for('products') }}" class="btn essence-btn">przeglądaj</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Welcome Area End ##### -->

    <!-- ##### Top Catagory Area Start ##### -->
    <div class="top_catagory_area section-padding-80 clearfix">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Single Catagory -->
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url({{ url_for('static', filename='img/bg-img/bg-2.jpg') }});">
                        <div class="catagory-content">
                            <a href="#">Ubrania</a>
                        </div>
                    </div>
                </div>
                <!-- Single Catagory -->
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url({{ url_for('static', filename='img/bg-img/bg-3.jpg') }});">
                        <div class="catagory-content">
                            <a href="#">Buty</a>
                        </div>
                    </div>
                </div>
                <!-- Single Catagory -->
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url({{ url_for('static', filename='img/bg-img/bg-4.jpg') }});">
                        <div class="catagory-content">
                            <a href="#">Dodatki</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Top Catagory Area End ##### -->

    <!-- ##### New Arrivals Area Start ##### -->
    <section class="new_arrivals_area section-padding-80 clearfix">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">
                        <h2>Najnowsze produkty</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="popular-products-slides owl-carousel">
                        {% for product in latest_products %}
                        <!-- Single Product -->
                        <div class="single-product-wrapper">
                            <!-- Product Image -->
                            <div class="product-img">
                                <img src="{{ product.image }}" alt="">
                                <!-- Hover Thumb -->
                                <img class="hover-img" src="{{ product.image }}" alt="">
                            </div>
                            <!-- Product Description -->
                            <div class="product-description">
                                <!-- <span>topshop</span> -->
                                <a href="{{ product.link }}" target="_blank">
                                    <h6>{{ product.name}}</h6>
                                </a>
                                <p class="product-price">{{ product.price}} zł</p>

                                <!-- Hover Content -->
                                <div class="hover-content">
                                    <!-- Add to Cart -->
                                    <div class="add-to-cart-btn">
                                        <a href="{{ product.link }}" target="_blank" class="btn essence-btn">Obejrzyj</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### New Arrivals Area End ##### -->

{% include 'footer.html' %}